---
name: Test Suite

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0
      - uses: "actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065" # v5.6.0
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: "scripts/install"
        shell: bash
      - name: "Run linting checks"
        run: "scripts/check"
        shell: bash
        if: "${{ matrix.os == 'ubuntu-latest'}}"
      - name: "Build package & docs"
        run: "scripts/build"
        shell: bash
      - name: "Run tests"
        run: "scripts/test"
        shell: bash
      - name: "Enforce coverage"
        run: "scripts/coverage"
        shell: bash

  # https://github.com/marketplace/actions/alls-green#why
  check:
    if: always()
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
